* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #e6eff6;
}
ul {
    list-style: none;
}
header {
    background-color: white;
    width: 36%;
    margin: 9% auto;
    border-radius: 8px;
    overflow: hidden;
}
@media (max-width: 767px) {
    header {
        width: 76%;
        margin-top: 13%;
    }
}
header main {
    padding: 6%;
}
header main h2 {
    color: #40a8a9;
    font-size: 22px;
}
header main h3 {
    color: #bdd05d;
    margin: 2.5% 0 1%;
    font-size: 17px;
}
@media (max-width: 767px) {
    header main h3 {
        margin: 4.5% 0 4%;
    }
}
header main p {
    color: #babec9;
    font-size: smaller;
    line-height: 1.7;
}
@media (max-width: 767px) {
    header main p {
        line-height: 1.6;
    }
}
nav {
    display: flex;
}
@media (max-width: 767px) {
    nav {
        display: block;
    }
}
nav h3,
nav ul li:first-child {
    font-size: 17px;
    color: white;
    font-weight: 500;
}
nav div {
    padding: 6%;
    flex-basis: 50%;
    background-color: #2bb3b1;
}
nav div > p {
    color: #dff2f5;
    font-size: 14px;
    margin-bottom: 12%;
}
@media (max-width: 767px) {
    nav div > p {
        margin-bottom: 8%;
    }
}
nav div > p span {
    font-size: 14px;
    color: rgb(223 242 245 / 50%);
}
nav div > p:first-of-type {
    font-size: 26px;
    color: white;
    margin: 3% 0 2%;
    font-weight: 600;
}
nav button {
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 5% 0;
    cursor: pointer;
    color: white;
    background-color: #bdd05d;
    font-size: 14px;
    font-weight: 500;
} 
@media (max-width: 767px) {
    nav button {
        margin-bottom: 2%;
    }
}
nav ul {
    padding: 6%;
    flex-basis: 50%;
    background-color: #4abebd;
}
nav ul li:first-child {
    margin-bottom: 4%;
}
nav li {
    color: rgb(223 242 245 / 70%);
    font-size: smaller;
}
footer a { 
    color: hsl(228, 45%, 44%);
}
footer {
    position: absolute;
    top: 15px; 
    left: 50%; 
    font-size: 11px; 
    transform: translateX(-50%); 
    text-align: center;
}